In [30]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import FunctionTransformer, LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.svm import SVC

In [17]:

train = pd.read_csv(r'C:\Users\Tim\Desktop\tensorflow\Dans les bois\Danslesbois\train.csv',sep=',')
test = pd.read_csv(r'C:\Users\Tim\Desktop\tensorflow\Dans les bois\Danslesbois\test.csv',sep=',')
train.head(10)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5
5,6,2579,132,6,300,-15,67,230,237,140,...,0,0,0,0,0,0,0,0,0,2
6,7,2606,45,7,270,5,633,222,225,138,...,0,0,0,0,0,0,0,0,0,5
7,8,2605,49,4,234,7,573,222,230,144,...,0,0,0,0,0,0,0,0,0,5
8,9,2617,45,9,240,56,666,223,221,133,...,0,0,0,0,0,0,0,0,0,5
9,10,2612,59,10,247,11,636,228,219,124,...,0,0,0,0,0,0,0,0,0,5

In [15]:
varh  = train[['Horizontal_Distance_To_Hydrology','Vertical_Distance_To_Hydrology']]
le = LabelEncoder()
h = [np.array2string(i) for i in  varh.values]
print(h[0])

X = le.fit_transform(h)
Y=[int(np.linalg.norm(i,2)) for i in varh.values]
print(Y[0])
train.insert(4,'Hydrology',Y)
train[train.columns[4:8]].sample(10)

[258   0]
258

,Hydrology,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways
10316,0,0,0,2468
13837,42,42,-2,1950
8172,0,0,0,2164
11844,213,212,-25,552
8265,797,797,35,752
2936,85,85,12,571
14249,439,424,115,1974
11370,108,108,7,2635
7153,90,90,-5,1357
4805,0,0,0,771

In [84]:
varsh  = train[train.columns[8:11]]
#var.head(10)
les = LabelEncoder()
h = [np.array2string(i) for i in  varsh.values]


X = les.fit_transform(h)
train.insert(8,'Shade',X)
train[train.columns[8:12]].sample(10)

       Shade  Hillshade_9am  Hillshade_Noon  Hillshade_3pm
2277    7690            244             219            100
4516    3481            203             233            169
4719    8867            254             199             51
14102   5110            220             249            162
10291   8112            248             214             86
1267    5010            220             166             61
7362    2662            193             223            169
1360    6115            230             192             86
9864    2351            189             162             93
2145    7051            238             224            115

In [85]:
varw  = train[train.columns[13:17]]
#varw.head(10)

lew = LabelEncoder()
h = [np.array2string(i) for i in  varw.values]


X = lew.fit_transform(h)
train.insert(13,'Wilderness',X)
train[train.columns[13:18]].sample(10)

,Wilderness,Wilderness_Area1,Wilderness_Area2,Wilderness_Area3,Wilderness_Area4
5810,0,0,0,0,1
1746,3,1,0,0,0
1985,1,0,0,1,0
8173,1,0,0,1,0
6509,1,0,0,1,0
7477,1,0,0,1,0
5094,0,0,0,0,1
8424,1,0,0,1,0
12389,0,0,0,0,1
6782,3,1,0,0,0

In [86]:
varsoil = train[train.columns[18:58]]
#varsoil.head(10)

lesoil = LabelEncoder()
h = [np.array2string(i) for i in  varsoil.values]


X = lesoil.fit_transform(h)
train.insert(18,'Soil',X)
train[train.columns[18:59]].sample(10)

,Soil,Soil_Type1,Soil_Type2,Soil_Type3,Soil_Type4,Soil_Type5,Soil_Type6,Soil_Type7,Soil_Type8,Soil_Type9,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
13537,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1213,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2650,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10489,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7823,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
12576,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2422,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8628,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9201,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
371,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Traintement compact de train et test

In [24]:
def preproc1(train,test):
    print('Processing Train data')
    ## Hydrologie
    varh  = train[['Horizontal_Distance_To_Hydrology','Vertical_Distance_To_Hydrology']]
    leh = LabelEncoder()
    h = [np.array2string(i) for i in  varh.values]
    X = le.fit_transform(h)
    Y = [int(np.linalg.norm(i,2)) for i in varh.values]
    train.insert(4,'Hydrology',Y)
    
    ## Shade
    varsh  = train[train.columns[8:11]]
    les = LabelEncoder()
    h = [np.array2string(i) for i in  varsh.values]
    X = les.fit_transform(h)
    train.insert(8,'Shade',X)

    
    ## Wilderness
    varw  = train[train.columns[13:17]]
    lew = LabelEncoder()
    h = [np.array2string(i) for i in  varw.values]
    X = lew.fit_transform(h)
    train.insert(13,'Wilderness',X)
    
    ## Soil
    varsoil = train[train.columns[18:58]]
    lesoil = LabelEncoder()
    h = [np.array2string(i) for i in  varsoil.values]
    X = lesoil.fit_transform(h)
    train.insert(18,'Soil',X)
    
    print('Processing Test data')
    ## On garde les memes encodeurs pour test et train
    ## Hydrologie
    varh  = test[['Horizontal_Distance_To_Hydrology','Vertical_Distance_To_Hydrology']]
    h = [np.array2string(i) for i in  varh.values]
    X = le.fit_transform(h)
    Y = [int(np.linalg.norm(i,2)) for i in varh.values]
    test.insert(4,'Hydrology',Y)
    
    
    ## Shade
    varsh  = test[test.columns[8:11]]
    h = [np.array2string(i) for i in  varsh.values]
    X = les.fit_transform(h)
    test.insert(8,'Shade',X)

    
    ## Wilderness
    varw  = test[test.columns[13:17]]
    h = [np.array2string(i) for i in  varw.values]
    X = lew.fit_transform(h)
    test.insert(13,'Wilderness',X)
    
    ## Soil
    varsoil = test[test.columns[18:58]]
    h = [np.array2string(i) for i in  varsoil.values]
    X = lesoil.fit_transform(h)
    test.insert(18,'Soil',X)

In [25]:

train = pd.read_csv(r'C:\Users\Tim\Desktop\tensorflow\Dans les bois\Danslesbois\train.csv',sep=',')
test = pd.read_csv(r'C:\Users\Tim\Desktop\tensorflow\Dans les bois\Danslesbois\test.csv',sep=',')

In [26]:
%%time
preproc1(train,test )

Processing Train data
Processing Test data
Wall time: 2min 10s

In [27]:
train[['Hydrology','Shade','Soil','Wilderness']].sample(10)

       Hydrology  Shade  Soil  Wilderness
12170         30   8496    37           0
6260           0   5634    25           0
1927          31   4251    20           1
5684         435   6092    35           0
3049         157   2695    32           0
14029          0   4220     2           1
11802        136   5235    11           3
13565        353   5693     8           1
4383           0   2442    25           0
4899           0   5724    35           0

In [28]:
test[['Hydrology','Shade','Soil','Wilderness']].sample(10)

        Hydrology  Shade  Soil  Wilderness
487764        445  17884     7           1
24084           0  16381    20           3
210799        295  23286    11           3
557696        121  21435    30           1
499031        275  10624     7           1
349009        134  16423    17           1
455731        264  15267    16           1
442454        316   8041     0           1
98409         185  29435    18           3
463959        447  19728    11           3

In [43]:
y = train['Cover_Type']
X = train.drop(columns=['Cover_Type','Horizontal_Distance_To_Hydrology',
                'Vertical_Distance_To_Hydrology',
               'Hillshade_9am',
               'Hillshade_Noon',
               'Hillshade_3pm',
               'Wilderness_Area1',
               'Wilderness_Area2',
               'Wilderness_Area3',
               'Wilderness_Area4',
               'Soil_Type1',
               'Soil_Type2',
                'Soil_Type3',
                'Soil_Type4',
                'Soil_Type5',
                'Soil_Type6',
                'Soil_Type7',
                'Soil_Type8',
                'Soil_Type9',
                'Soil_Type10',
                'Soil_Type11',
                'Soil_Type12',
                'Soil_Type13',
                'Soil_Type14',
                'Soil_Type15',
                'Soil_Type16',
                'Soil_Type17',
                'Soil_Type18',
                'Soil_Type19',
                'Soil_Type20',
                'Soil_Type21',
                'Soil_Type22',
                'Soil_Type23',
                'Soil_Type24',
                'Soil_Type25',
                'Soil_Type26',
                'Soil_Type27',
                'Soil_Type28',
                'Soil_Type29',
                'Soil_Type30',
                'Soil_Type31',
                'Soil_Type32',
                'Soil_Type33',
                'Soil_Type34',
                'Soil_Type35',
                'Soil_Type36',
                'Soil_Type37',
                'Soil_Type38',
                'Soil_Type39',
                'Soil_Type40',
                ])
X_test = test.drop(columns=['Horizontal_Distance_To_Hydrology',
                'Vertical_Distance_To_Hydrology',
               'Hillshade_9am',
               'Hillshade_Noon',
               'Hillshade_3pm',
               'Wilderness_Area1',
               'Wilderness_Area2',
               'Wilderness_Area3',
               'Wilderness_Area4',
               'Soil_Type1',
               'Soil_Type2',
                'Soil_Type3',
                'Soil_Type4',
                'Soil_Type5',
                'Soil_Type6',
                'Soil_Type7',
                'Soil_Type8',
                'Soil_Type9',
                'Soil_Type10',
                'Soil_Type11',
                'Soil_Type12',
                'Soil_Type13',
                'Soil_Type14',
                'Soil_Type15',
                'Soil_Type16',
                'Soil_Type17',
                'Soil_Type18',
                'Soil_Type19',
                'Soil_Type20',
                'Soil_Type21',
                'Soil_Type22',
                'Soil_Type23',
                'Soil_Type24',
                'Soil_Type25',
                'Soil_Type26',
                'Soil_Type27',
                'Soil_Type28',
                'Soil_Type29',
                'Soil_Type30',
                'Soil_Type31',
                'Soil_Type32',
                'Soil_Type33',
                'Soil_Type34',
                'Soil_Type35',
                'Soil_Type36',
                'Soil_Type37',
                'Soil_Type38',
                'Soil_Type39',
                'Soil_Type40',
                ])

In [39]:
classifier = SVC(C=10, # penalty parameter
                 kernel='rbf', # kernel type, rbf working fine here
                 degree=3, # default value
                 gamma=1, # kernel coefficient
                 coef0=1, # change to 1 from default value of 0.0
                 shrinking=True, # using shrinking heuristics
                 tol=0.001, # stopping criterion tolerance 
                 probability=False, # no need to enable probability estimates
                 cache_size=200, # 200 MB cache size
                 class_weight=None, # all classes are treated equally 
                 verbose=False, # print the logs 
                 max_iter=-1, # no limit, let it run
                 decision_function_shape=None, # will use one vs rest explicitly 
                 random_state=None)
model = OneVsRestClassifier(classifier, n_jobs=-1)

In [40]:
%%time
model.fit(X,y)

Wall time: 3min 48s

OneVsRestClassifier(estimator=SVC(C=10, cache_size=200, class_weight=None, coef0=1,
  decision_function_shape=None, degree=3, gamma=1, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
          n_jobs=-1)

In [44]:
%%time
print ("Predict on test data ... ")
test_pred = model.predict(X_test)

In [ ]:
print ("Generate Submission File ... ")
test_id = [doc['id'] for doc in test]
sub = pd.DataFrame({'Id': test_id, 'Cover_Type': test_pred}, columns=['Id', 'Cover_Type'])
sub.to_csv('svm_output.csv', index=False)

## Crossvalidation

In [ ]:
classifier = SVC(C=10, # penalty parameter
                 kernel='rbf', # kernel type, rbf working fine here
                 degree=3, # default value
                 gamma=1, # kernel coefficient
                 coef0=1, # change to 1 from default value of 0.0
                 shrinking=True, # using shrinking heuristics
                 tol=0.001, # stopping criterion tolerance 
                 probability=False, # no need to enable probability estimates
                 cache_size=200, # 200 MB cache size
                 class_weight=None, # all classes are treated equally 
                 verbose=False, # print the logs 
                 max_iter=-1, # no limit, let it run
                 decision_function_shape=None, # will use one vs rest explicitly 
                 random_state=None)
model = OneVsRestClassifier(classifier, n_jobs=1)

In [ ]:
parameters = {"estimator__C":uniform(5,100),"estimator__gamma":uniform(.5,1.5)}
rdgrid_search = RandomizedSearchCV(model, parameters,n_iter=3, n_jobs=-1)